//
//people_grid.scss
//
.hover_icon:hover {
    color: var(--primary-color) !important;
}

.personal_photo {
    height: 5rem !important;
}

.socials_icon {
    height: 1.5rem !important;
    width: 1.5rem !important;
}
.icon_padding-025{
    padding-right: 0.25em;
}